.nft-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
  }
  
  .nft-loader .text {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .nft-loader .spinner {
    margin-top: 20px;
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 8px solid white;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  

  .scale-on-hover {
    transition: transform 0.3s;  /* Adjust 0.3s to whatever duration you want */
  }
  
  .scale-on-hover:hover {
    transform: scale(2);  /* Adjust 2 to whatever scale factor you want */
  }


.hover-enlarge {
    transition: transform 0.3s; /* Smooth transition */
}

.hover-enlarge:hover {
    transform: scale(1.1); /* Enlarges the link by 10% on hover */
}
